<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        /* Общие стили для страницы */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        /* Контейнер с ошибкой */
        .error-container {
            text-align: center;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* Заголовок ошибки */
        .error-container h1 {
            color: #e74c3c;
            font-size: 2em;
            margin-bottom: 20px;
        }

        /* Текст ошибки */
        .error-container p {
            font-size: 1.2em;
            color: #333;
            margin-bottom: 20px;
        }

        /* Ссылка "Назад" */
        .go-back-link {
            display: inline-block;
            padding: 10px 20px;
            background-color: #3498db;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s;
        }

        /* Стили для ссылки при наведении */
        .go-back-link:hover {
            background-color: #2980b9;
        }
    </style>
</head>
<body>
    <div class="error-container">
        <h1>Error</h1>
        <p>{{errorMessage}}</p>
        <a href="#" class="go-back-link" onclick="goBackToPage()">Назад</a>
    </div>

    <script>
        function goBackToPage() {
            var previousUrl = sessionStorage.getItem('previousUrl');
            if (previousUrl) {
                window.location.href = previousUrl;
            } else {
                window.history.back();
            }
        }
    </script>
</body>
</html>

